# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editors
.idea/

# Virtual environment
.venv/
venv/

# Distribution / packaging
.Python
node_modules/

*.env
src/.env.dev

# Ignoring until its contents change
# to avoid commits upon file recreation
src/app/config.js