html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #1977cc;
}

a:hover {
    color: #3291e6;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

#app {
    height: 100%;
}

#topbar {
    background: #fff;
    height: 40px;
    font-size: 14px;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #444444;
}

#topbar .contact-info a:hover {
    color: #1977cc;
}

#topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
}

#topbar .contact-info i:first-child {
    margin-left: 0;
}

#topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
}

#topbar .social-links a:hover {
    color: #1977cc;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

#header {
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
    top: 0;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #2c4964;
}

#header .logo img {
    max-height: 40px;
}

#header .alert-success {
    margin-top: 15px;
    position: absolute;
    background-color: #ccf6e4;
    border-color: #b8f2da;
    color: #006d3f;
    width: 100%;
    text-align: center;
    z-index: 99;
    display: none;
}

#header .alert-danger {
    margin-top: 15px;
    position: absolute;
    color: #781d2d;
    background-color: #fad7dd;
    border-color: #f8c7d0;
    width: 100%;
    text-align: center;
    z-index: 99;
    display: none;
}

#header .alert-danger .text {
    display: inline-block;
}

@media (max-width: 992px) {
    #header {
        top: 0;
    }

    #header .logo {
        font-size: 28px;
    }
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #2c4964;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 2px;
    border-bottom: 2px solid #fff;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #1977cc;
    border-color: #1977cc;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #082744;
    border: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #1977cc;
}

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}

.appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
}

.appointment-btn:hover {
    background: #166ab5;
    color: #fff;
}

@media (max-width: 768px) {
    .appointment-btn {
        display: none;
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }
}

#hero {
    width: 100%;
    height: 90vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -200px;
}

#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
}

#hero h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    color: #fff;
    background: #1977cc;
}

#hero .btn-get-started:hover {
    background: #3291e6;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero {
        margin-bottom: 0;
        height: 100vh;
    }

    #hero .container {
        padding-bottom: 63px;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }
}

@media (max-width: 280px) {
    #hero {
        background-position-x: -455px;
    }

    #hero h1 {
        max-width: 180px;
    }

    #hero h2 {
        max-width: 160px;
    }

    #hero .btn-get-started {
        margin-top: 0;
    }

    #hero .container {
        margin-top: -15px;
    }
}

@media (min-width: 281px) and (max-width: 320px) {
    #hero {
        background-position-x: -335px;
    }

    #hero h2 {
        max-width: 175px;
    }

    #hero .btn-get-started {
        margin-top: -10px;
    }

    #hero .container {
        margin-top: -25px;
    }
}

@media (min-width: 321px) and (max-width: 360px) and (max-height: 640px) {
    #hero {
        background-position-x: -380px;
    }

    #hero h1 {
        max-width: 200px;
    }

    #hero h2 {
        max-width: 175px;
    }

    #hero .btn-get-started {
        margin-top: -10px;
    }

    #hero .container {
        margin-top: -35px;
        margin-bottom: -25px;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    #hero {
        background-position-x: -380px;
    }

    #hero h1 {
        max-width: 200px;
    }

    #hero .btn-get-started {
        margin-top: -10px;
    }

    #hero .container {
        margin-top: 5px;
        margin-bottom: 60px;
    }
}

@media (min-width: 376px) and (max-width: 540px) {
    #hero {
        background-position-x: -430px;
    }

    #hero h1 {
        max-width: 200px;
    }

    #hero .btn-get-started {
        margin-top: -10px;
    }

    #hero .container {
        margin-top: -30px;
        margin-bottom: 50px;
    }
}

@media (min-width: 361px) and (max-width: 411px) and (min-height: 812px) {
    #hero {
        background-position-x: -545px;
        background-position-y: 20px;
    }
}

@media (min-width: 768px) and (min-height: 1024px) and (max-height: 1365px) {
    #hero {
        background-position-x: -605px;
        background-position-y: 50px;
    }

    #hero .btn-get-started {
        margin-top: -10px;
    }

    #hero .container {
        margin-top: -140px;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) {
    #hero {
        background-position-x: -670px;
    }

    #hero .container {
        margin-top: -100px;
    }
}

@media (min-width: 1224px) {
    #hero {
        background-position-x: -0;
        background-position-y: 57px;
    }

    #hero .btn-get-started {
        margin-top: 10px;
    }
}


section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f1f7fd;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

.section-title .description {
    font-size: 14px;
    max-width: 400px;
    margin: auto;
}

.why-us .content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
}

.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #1977cc;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #2c4964;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #1977cc;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 47, 65, 0.6);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

#main {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.center-form {
    display: table-cell;
    vertical-align: middle;
}

.auth {
    width: 660px;
}

.auth .container {
    max-width: 660px;
}

.auth .container .row.mt-5 {
    margin-top: 15px !important;
}

.auth .container .row .col-lg-8 {
    margin: auto;
}

.auth .auth-form {
    width: 100%;
    background: #fff;
}

.auth .auth-form .form-group {
    padding-bottom: 8px;
}

.auth .auth-form .form-check {
    padding-left: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.auth .auth-form .form-check-input {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.auth .auth-form .form-check-label {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
    margin-left: 20px;
}

.auth .auth-form .form-check .invalid-feedback {
    margin-top: -20px;
}

.auth .auth-form input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: 44px;
}

.auth .auth-form .signup-button {
    margin-top: 30px;
}

.auth .auth-form .sub-action {
    padding-left: 0;
    text-align: center;
    margin-top: -12px;
    margin-bottom: -18px;
}

.auth .auth-form .sub-action .link {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
    margin-left: 20px;
}

.auth .auth-form button[type="submit"] {
    background: #1977cc;
    border: 0;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    padding: 10px 150px;
    margin-top: 10px;
}

.auth .auth-form button[type="submit"]:hover {
    background: #1c84e3;
}

@media (max-width: 414px) {
    .auth .auth-form button[type="submit"] {
        width: 100%;
        height: 50px;
        padding: 0;
    }
}

@media (max-width: 375px) {
    .auth .container:nth-child(1) {
        margin-top: 60px;
    }
}